@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
    text-decoration: none;
}

body{
    /* font-size: 12.8px; */
    margin: 0 10%;
    height: auto;
    background-color: var(--off-white);
    
}
:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white:#fffdfa;
    --grayish-blue: hsl(233,8%, 79%);
--dark-grayish-blue: hsl(236, 15%, 42%);
--very-dark-blue: hsl(240, 100%, 5%);
}

/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 1rem;
    height: 50px;
}

ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

a,p{
    color: var(--dark-grayish-blue);
}

a:hover{
    color: var(--soft-red);
}

/* maim */
.main{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hero{
    width: 68%;
    /* background-color: aqua; */
}

.new{
    width: 30%;
    /* background-color: bisque; */
}

/* hero */
.hero img{
    width: 100%;

}
.hero img:nth-of-type(2) {
    display: none;

}
.herocontent{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bright{
    width: 50%;
}
.bright h1{
    font-weight: 800;
    font-size: 3.5rem;
    color: var(--very-dark-blue);
}
.read-more{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    width: 50%;
    background-color: var(--soft-red);
    color: var(--off-white);
    /* outline: none; */
    padding: 14px;
    border: none;

}

button:hover{
    background-color: var(--very-dark-blue);
    cursor: pointer;
}

/* News card */
.new{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--very-dark-blue);
   
}
.new-text{
    width: 90%;
}
.new-text p{
    font-size: 0.76rem;
}
.new h1{
    color: var(--soft-orange);
    align-self: flex-start;
    margin-left: 5%;
   
}

.new-text>h3{
    color: var(--off-white);
    font-size: 1rem;
}
.new-text>h3:hover{
    color: var(--soft-orange);

}

/* Media Query */
/* medium devices e.g tabets */


/* hr */
hr{
    width: 90%;
    border: 1px solid var(--dark-grayish-blue);
}

/* footer section */
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}

.footer-card{
    width: 33%;
    display: flex;
    justify-content: space-between;

}

.footer-card img{
    width: 30%;
}

.footer-card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 66%;
}
.footer-card-text h1{
    color: var(--grayish-blue);
}
.fotter-card-text h3{
    color: var(--very-dark-blue);
    font-size: 0.8rem;
    font-weight: 800;
}

.footer-card-text p{
    font-size: 0.7rem;
    font-weight: 400;
}

.menu{
    display: none;
}
/* Media Query */

@media (max-width:778px){
    ul{
        display: none;
    } 
    .menu{
        display: block;
    }
    .hero img:nth-of-type(1){
        display: none;
    }

    .hero img:nth-of-type(2){
        display: block;
    }
    .hero, .new, .bright, .read-more{
        width: 100%;
    }

    .new{
        height: 480px;
        margin-top: 2rem;
    }
    .new p{
        font-size: 1rem;
    }
    .main, .herocontent, .footer{
        flex-direction: column;
        gap: 20px;
    }
    .footer-card{
        width: 100%;
    }
    

    button{
        margin-top: 1rem;
    }


}
 


